In [88]:
import pandas as pd
import numpy as np

In [89]:
data = pd.DataFrame(np.array([
    [0.1, 0.4, 0.3, 0.2, 0.3, 0.4, 0.3, 0.2, 0.4, 0.3, 0.2, 0.3, 0.4, 0.3],
    [0.3, 0.5, 0.8, 0.6, 0.3, 0.6, 0.2, 0.7, 0.9, 0.4, 0.6, 0.4, 0.6, 0.4],
    [5, 2.5, 3.8, 2, 4.4, 3.5, 4.7, 3.6, 1.6, 4.5, 3.2, 4.1, 4.1, 2.6],
]), index=['A', 'B', 'C'], columns=range(1, 15))

In [90]:
data

    1    2    3    4    5    6    7    8    9    10   11   12   13   14
A  0.1  0.4  0.3  0.2  0.3  0.4  0.3  0.2  0.4  0.3  0.2  0.3  0.4  0.3
B  0.3  0.5  0.8  0.6  0.3  0.6  0.2  0.7  0.9  0.4  0.6  0.4  0.6  0.4
C  5.0  2.5  3.8  2.0  4.4  3.5  4.7  3.6  1.6  4.5  3.2  4.1  4.1  2.6

In [91]:
data[data == data.loc['A'].min()].loc['A']

1     0.1
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
Name: A, dtype: float64

In [92]:
data[data == data.loc['B'].min()].loc['B']

1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     0.2
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
Name: B, dtype: float64

In [93]:
data[data == data.loc['C'].min()].loc['C']

1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     1.6
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
Name: C, dtype: float64